.logo{
    height: 75px;
}

.cabecalho{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px #1EA358 solid;
}

.navegacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header img{
    margin-left: 30px;
    margin-right: 50px;
    
}

.link{
    font-family: RobotoBold;
    color: black;
    text-decoration: none;
    height: 80px;
    width: 150px;
    text-align: center;
    align-content: center;
}

.login {
    background-color: #1EA358;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    margin-right: 50px;
    text-align: center;
    align-content: center;
    font-family: RobotoBold;
    color: white;
    text-decoration: none;
}

.title_persuasivo{
    text-align: center;
    font-family: RobotoThin;
    font-size: 50px;
    margin: 30px 0px 0px 0px;
    padding: 0;
}
.subtitle_persuasivo{
    text-align: center;
    font-size: 19px;
    margin: 10px 0px 75px 0;
    padding: 0;
}

.planos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 15px;
}

section{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px;
    border: 1px #1EA358 solid;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #1EA358;
}

.preco{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.preco_numero{
    margin-right: 10px;
    font-family: Mont-SemiBold;
    font-size: 40px;
}

.preco_mensais{
    font-family: Mont-ExtraLight;
}

.preco_header{
    margin-bottom: 10px;
    font-family: RobotoLight;
}

.preco_header2{
    margin-bottom: 35px;
    font-family: RobotoLight;
}

.preco_fale{
    font-family: Mont-SemiBold;
    margin-bottom: 20px;
}

.botao_contrate{
    background-color: #1EA358;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    align-content: center;
    font-family: RobotoBold;
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    
}

.botao_vendas{

    background-color: white;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    align-content: center;
    font-family: RobotoBold;
    color: #1EA358;
    text-decoration: none;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px #1EA358 solid;
}

.servicos_plano{
    font-family: Mont-RegularItalic;
}

@font-face {
    font-family: RobotoBold;
    src: url(/fonts/ROBOTO/Roboto-Bold.ttf);
}

@font-face{
    font-family: RobotoThin;
    src: url(/fonts/ROBOTO/Roboto-Thin.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(/fonts/ROBOTO/Roboto-Light.ttf);
}

@font-face {
    font-family: Mont-SemiBold;
    src: url(/fonts/Mont/Mont-SemiBold.otf);
}

@font-face {
    font-family: Mont-ExtraLight;
    src: url(/fonts/Mont/Mont-ExtraLight.otf);
}

@font-face {
    font-family: Mont-RegularItalic;
    src: url(/fonts/Mont/Mont-RegularItalic.otf);
}